/* helper classes */
@font-face {
  font-family: "Aller-Display";
  src: url("../fonts/Aller/AllerDisplay.eot") format("eot"), url("../fonts/Aller/AllerDisplay.woff") format("woff"), url("../fonts/Aller/AllerDisplay.ttf") format("truetype"); }
@font-face {
  font-family: "Aller-Light";
  src: url("../fonts/Aller/Aller_Lt.eot") format("eot"), url("../fonts/Aller/Aller_Lt.woff") format("woff"), url("../fonts/Aller/Aller_Lt.ttf") format("truetype"); }
@font-face {
  font-family: "Aller-Regular";
  src: url("../fonts/Aller/Aller_Rg.eot") format("eot"), url("../fonts/Aller/Aller_Rg.woff") format("woff"), url("../fonts/Aller/Aller_Rg.ttf") format("truetype"); }
@font-face {
  font-family: "Aller-Bold";
  src: url("../fonts/Aller/Aller_Bd.eot") format("eot"), url("../fonts/Aller/Aller_Bd.woff") format("woff"), url("../fonts/Aller/Aller_Bd.ttf") format("truetype"); }
@font-face {
  font-family: "Glyphicons-Regular";
  src: url("../fonts/Glyphicons/GLYPHICONS-Regular.eot") format("eot"), url("../fonts/Glyphicons/GLYPHICONS-Regular.woff") format("woff"), url("../fonts/Glyphicons/GLYPHICONS-Regular.tff") format("truetype"); }
@font-face {
  font-family: "Glyphicons-Social";
  src: url("../fonts/Glyphicons/GLYPHICONS-Social-Regular.eot") format("woff"), url("../fonts/Glyphicons/GLYPHICONS-Social-Regular.woff") format("woff"), url("../fonts/Glyphicons/GLYPHICONS-Social-Regular.tff") format("truetype"); }
html, body, ul, ol, li {
  margin: 0;
  padding: 0; }

body {
  background-color: #fdfdfd;
  font-size: 16pt; }

ul, li {
  list-style: none;
  display: inline; }

a {
  text-decoration: none; }
  a:hover, a:visited {
    text-decoration: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-sizing: border-box;
  box-sizing: border-box; }

.glyphicons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons-Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased; }

.social {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons-Social";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased; }

.glyphicons-pencil:before {
  content: "\270F"; }

.glyphicons-embed-close:before {
  content: "\E119"; }

.glyphicons-cogwheels:before {
  content: "\E138"; }

.glyphicons-fire:before {
  content: "\E023"; }

.glyphicons-up-arrow:before {
  content: "\E214"; }

.glyphicons-left-arrow:before {
  content: "\E211"; }

.glyphicons-home:before {
  content: "\E021"; }

.glyphicons-right-arrow:before {
  content: "\E212"; }

.glyphicons-chevron-left:before {
  content: "\e225"; }

.glyphicons-chevron-right:before {
  content: "\e224"; }

.social-facebook:before {
  content: "\E031"; }

.social-linked-in:before {
  content: "\E018"; }

.social-twitter:before {
  content: "\E032"; }

.social-github:before {
  content: "\E022"; }

.hide {
  display: none; }

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

h1 {
  font-family: Aller-Display;
  font-weight: 600;
  font-size: 2.5em;
  text-transform: uppercase; }

h2 {
  font-family: Aller-Bold;
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase; }

h3 {
  font-family: Aller-regular;
  font-weight: 600;
  font-size: 1.75em;
  text-transform: uppercase; }

h4 {
  font-family: Aller-Light;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase; }

h5 {
  font-family: Aller-Bold;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase; }

h6 {
  font-family: Aller-Regular;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase; }

nav {
  font-family: Aller-Display;
  font-size: 10pt;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #00b6f1;
  text-transform: uppercase; }
  nav h5, nav li, nav a {
    color: #101010;
    margin: 0px 10px;
    font-size: 1em;
    line-height: 100px; }
    @media (max-width: 767px) {
      nav h5, nav li, nav a {
        line-height: 35px;
        margin-bottom: 5px; } }
  nav img {
    width: 100px;
    margin: 15px auto; }
    @media (max-width: 767px) {
      nav img {
        width: 75px; } }
  nav a {
    text-decoration: none;
    cursor: pointer; }
    nav a:hover {
      text-decoration: none; }
  nav span {
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -mz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    padding-top: 5px; }
    nav span:hover {
      text-decoration: none;
      color: #d468ff; }
  nav .active {
    border-top: 2px solid #d468ff; }
  nav .top {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 20pt;
    color: #00b6f1;
    margin: 0px;
    padding: 5px 15px 15px 15px;
    line-height: 0px; }
    @media (max-width: 767px) {
      nav .top {
        opacity: 0; } }

.main-container {
  width: 100%;
  background-color: #fdfdfd; }
  .main-container .hero-container {
    width: 100%;
    position: relative;
    font-size: 16pt; }
    @media (max-width: 1100px) {
      .main-container .hero-container {
        font-size: 12pt; } }
    @media (max-width: 992px) {
      .main-container .hero-container {
        font-size: 10pt; } }
    @media (max-width: 767px) {
      .main-container .hero-container {
        font-size: 8pt; } }
    @media (max-width: 600px) {
      .main-container .hero-container {
        font-size: 6pt; } }
    @media (max-width: 500px) {
      .main-container .hero-container {
        font-size: 5pt; } }
    .main-container .hero-container img {
      width: 100%; }
      @media (max-width: 600px) {
        .main-container .hero-container img {
          height: 250px; } }
    .main-container .hero-container .hero-curtain {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      background-color: rgba(0, 182, 241, 0.65); }
    .main-container .hero-container .hero-content {
      position: absolute;
      font-family: Aller-Display;
      font-weight: 600;
      font-size: 3em;
      top: 20%; }
      @media (min-width: 1500px) {
        .main-container .hero-container .hero-content {
          font-size: 4em;
          top: 20%; } }
      @media (max-width: 992px) {
        .main-container .hero-container .hero-content {
          top: 27%; } }
      @media (max-width: 767px) {
        .main-container .hero-container .hero-content {
          top: 27%; } }
      @media (max-width: 600px) {
        .main-container .hero-container .hero-content {
          top: 25%; } }
      @media (max-width: 500px) {
        .main-container .hero-container .hero-content {
          top: 28%; } }
    .main-container .hero-container .rotating-sentence {
      text-align: left;
      text-transform: uppercase;
      padding-left: 30px;
      line-height: 70px;
      color: #101010; }
      @media (min-width: 1500px) {
        .main-container .hero-container .rotating-sentence {
          line-height: 80px; } }
      @media (max-width: 1100px) {
        .main-container .hero-container .rotating-sentence {
          line-height: 60px;
          padding-left: 25px; } }
      @media (max-width: 992px) {
        .main-container .hero-container .rotating-sentence {
          line-height: 40px;
          padding-left: 25px; } }
      @media (max-width: 767px) {
        .main-container .hero-container .rotating-sentence {
          line-height: 33px;
          padding-left: 20px; } }
      @media (max-width: 600px) {
        .main-container .hero-container .rotating-sentence {
          line-height: 30px;
          padding-left: 15px; } }
      @media (max-width: 500px) {
        .main-container .hero-container .rotating-sentence {
          line-height: 25px; } }
      .main-container .hero-container .rotating-sentence .rotating-words {
        display: inline; }
      .main-container .hero-container .rotating-sentence .rotating-word {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        color: #101010;
        border-bottom: 5px solid #d468ff;
        transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out; }
        @media (max-width: 992px) {
          .main-container .hero-container .rotating-sentence .rotating-word {
            border-bottom: 3px solid #d468ff; } }
        @media (max-width: 767px) {
          .main-container .hero-container .rotating-sentence .rotating-word {
            border-bottom: 2px solid #d468ff; } }
      .main-container .hero-container .rotating-sentence .active-word {
        opacity: 1;
        position: absolute;
        font-family: Aller-Display;
        font-weight: 600;
        border-bottom: 5px solid #d468ff;
        transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out; }
        @media (max-width: 992px) {
          .main-container .hero-container .rotating-sentence .active-word {
            border-bottom: 3px solid #d468ff; } }
        @media (max-width: 767px) {
          .main-container .hero-container .rotating-sentence .active-word {
            border-bottom: 2px solid #d468ff; } }
  .main-container .work-container, .main-container .service-container, .main-container .social-container, .main-container .about-container, .main-container .sample-container {
    width: 100%;
    margin: 50px 0px;
    text-align: center; }
    @media (min-width: 1500px) {
      .main-container .work-container, .main-container .service-container, .main-container .social-container, .main-container .about-container, .main-container .sample-container {
        margin: 0px auto;
        width: 80%; } }
    @media (max-width: 1100px) {
      .main-container .work-container, .main-container .service-container, .main-container .social-container, .main-container .about-container, .main-container .sample-container {
        font-size: 14pt;
        margin: 45px 0px; } }
    @media (max-width: 992px) {
      .main-container .work-container, .main-container .service-container, .main-container .social-container, .main-container .about-container, .main-container .sample-container {
        font-size: 12pt;
        margin: 40px 0px; } }
    @media (max-width: 767px) {
      .main-container .work-container, .main-container .service-container, .main-container .social-container, .main-container .about-container, .main-container .sample-container {
        font-size: 18pt;
        margin: 30px 0px; } }
    @media (max-width: 600px) {
      .main-container .work-container, .main-container .service-container, .main-container .social-container, .main-container .about-container, .main-container .sample-container {
        font-size: 14pt;
        margin: 25px 0px; } }
    .main-container .work-container .work-title, .main-container .work-container .service-title, .main-container .work-container .social-title, .main-container .work-container .about-title, .main-container .work-container .sample-title, .main-container .service-container .work-title, .main-container .service-container .service-title, .main-container .service-container .social-title, .main-container .service-container .about-title, .main-container .service-container .sample-title, .main-container .social-container .work-title, .main-container .social-container .service-title, .main-container .social-container .social-title, .main-container .social-container .about-title, .main-container .social-container .sample-title, .main-container .about-container .work-title, .main-container .about-container .service-title, .main-container .about-container .social-title, .main-container .about-container .about-title, .main-container .about-container .sample-title, .main-container .sample-container .work-title, .main-container .sample-container .service-title, .main-container .sample-container .social-title, .main-container .sample-container .about-title, .main-container .sample-container .sample-title {
      border-bottom: 1px solid #00b6f1;
      text-align: center;
      margin-bottom: 100px; }
      @media (min-width: 1500px) {
        .main-container .work-container .work-title, .main-container .work-container .service-title, .main-container .work-container .social-title, .main-container .work-container .about-title, .main-container .work-container .sample-title, .main-container .service-container .work-title, .main-container .service-container .service-title, .main-container .service-container .social-title, .main-container .service-container .about-title, .main-container .service-container .sample-title, .main-container .social-container .work-title, .main-container .social-container .service-title, .main-container .social-container .social-title, .main-container .social-container .about-title, .main-container .social-container .sample-title, .main-container .about-container .work-title, .main-container .about-container .service-title, .main-container .about-container .social-title, .main-container .about-container .about-title, .main-container .about-container .sample-title, .main-container .sample-container .work-title, .main-container .sample-container .service-title, .main-container .sample-container .social-title, .main-container .sample-container .about-title, .main-container .sample-container .sample-title {
          margin-top: 25px; } }
      @media (max-width: 1100px) {
        .main-container .work-container .work-title, .main-container .work-container .service-title, .main-container .work-container .social-title, .main-container .work-container .about-title, .main-container .work-container .sample-title, .main-container .service-container .work-title, .main-container .service-container .service-title, .main-container .service-container .social-title, .main-container .service-container .about-title, .main-container .service-container .sample-title, .main-container .social-container .work-title, .main-container .social-container .service-title, .main-container .social-container .social-title, .main-container .social-container .about-title, .main-container .social-container .sample-title, .main-container .about-container .work-title, .main-container .about-container .service-title, .main-container .about-container .social-title, .main-container .about-container .about-title, .main-container .about-container .sample-title, .main-container .sample-container .work-title, .main-container .sample-container .service-title, .main-container .sample-container .social-title, .main-container .sample-container .about-title, .main-container .sample-container .sample-title {
          margin-bottom: 90px; } }
      @media (max-width: 992px) {
        .main-container .work-container .work-title, .main-container .work-container .service-title, .main-container .work-container .social-title, .main-container .work-container .about-title, .main-container .work-container .sample-title, .main-container .service-container .work-title, .main-container .service-container .service-title, .main-container .service-container .social-title, .main-container .service-container .about-title, .main-container .service-container .sample-title, .main-container .social-container .work-title, .main-container .social-container .service-title, .main-container .social-container .social-title, .main-container .social-container .about-title, .main-container .social-container .sample-title, .main-container .about-container .work-title, .main-container .about-container .service-title, .main-container .about-container .social-title, .main-container .about-container .about-title, .main-container .about-container .sample-title, .main-container .sample-container .work-title, .main-container .sample-container .service-title, .main-container .sample-container .social-title, .main-container .sample-container .about-title, .main-container .sample-container .sample-title {
          margin-bottom: 80px; } }
      @media (max-width: 767px) {
        .main-container .work-container .work-title, .main-container .work-container .service-title, .main-container .work-container .social-title, .main-container .work-container .about-title, .main-container .work-container .sample-title, .main-container .service-container .work-title, .main-container .service-container .service-title, .main-container .service-container .social-title, .main-container .service-container .about-title, .main-container .service-container .sample-title, .main-container .social-container .work-title, .main-container .social-container .service-title, .main-container .social-container .social-title, .main-container .social-container .about-title, .main-container .social-container .sample-title, .main-container .about-container .work-title, .main-container .about-container .service-title, .main-container .about-container .social-title, .main-container .about-container .about-title, .main-container .about-container .sample-title, .main-container .sample-container .work-title, .main-container .sample-container .service-title, .main-container .sample-container .social-title, .main-container .sample-container .about-title, .main-container .sample-container .sample-title {
          margin-bottom: 50px; } }
      @media (max-width: 600px) {
        .main-container .work-container .work-title, .main-container .work-container .service-title, .main-container .work-container .social-title, .main-container .work-container .about-title, .main-container .work-container .sample-title, .main-container .service-container .work-title, .main-container .service-container .service-title, .main-container .service-container .social-title, .main-container .service-container .about-title, .main-container .service-container .sample-title, .main-container .social-container .work-title, .main-container .social-container .service-title, .main-container .social-container .social-title, .main-container .social-container .about-title, .main-container .social-container .sample-title, .main-container .about-container .work-title, .main-container .about-container .service-title, .main-container .about-container .social-title, .main-container .about-container .about-title, .main-container .about-container .sample-title, .main-container .sample-container .work-title, .main-container .sample-container .service-title, .main-container .sample-container .social-title, .main-container .sample-container .about-title, .main-container .sample-container .sample-title {
          margin-bottom: 40px; } }
    .main-container .work-container .sample-container, .main-container .service-container .sample-container, .main-container .social-container .sample-container, .main-container .about-container .sample-container, .main-container .sample-container .sample-container {
      position: relative;
      text-align: center;
      margin: 0px auto;
      margin-bottom: 100px; }
      @media (max-width: 1100px) {
        .main-container .work-container .sample-container, .main-container .service-container .sample-container, .main-container .social-container .sample-container, .main-container .about-container .sample-container, .main-container .sample-container .sample-container {
          margin-bottom: 90px; } }
      @media (max-width: 992px) {
        .main-container .work-container .sample-container, .main-container .service-container .sample-container, .main-container .social-container .sample-container, .main-container .about-container .sample-container, .main-container .sample-container .sample-container {
          margin-bottom: 80px; } }
      @media (max-width: 767px) {
        .main-container .work-container .sample-container, .main-container .service-container .sample-container, .main-container .social-container .sample-container, .main-container .about-container .sample-container, .main-container .sample-container .sample-container {
          margin-bottom: 50px; } }
      @media (max-width: 600px) {
        .main-container .work-container .sample-container, .main-container .service-container .sample-container, .main-container .social-container .sample-container, .main-container .about-container .sample-container, .main-container .sample-container .sample-container {
          margin-bottom: 40px; } }
      .main-container .work-container .sample-container .col-lg-3, .main-container .work-container .sample-container .col-md-3, .main-container .work-container .sample-container .col-sm-6, .main-container .service-container .sample-container .col-lg-3, .main-container .service-container .sample-container .col-md-3, .main-container .service-container .sample-container .col-sm-6, .main-container .social-container .sample-container .col-lg-3, .main-container .social-container .sample-container .col-md-3, .main-container .social-container .sample-container .col-sm-6, .main-container .about-container .sample-container .col-lg-3, .main-container .about-container .sample-container .col-md-3, .main-container .about-container .sample-container .col-sm-6, .main-container .sample-container .sample-container .col-lg-3, .main-container .sample-container .sample-container .col-md-3, .main-container .sample-container .sample-container .col-sm-6 {
        padding-left: 0px;
        padding-right: 0px; }
      .main-container .work-container .sample-container img, .main-container .service-container .sample-container img, .main-container .social-container .sample-container img, .main-container .about-container .sample-container img, .main-container .sample-container .sample-container img {
        width: 100%;
        border: 1px solid #00b6f1; }
      .main-container .work-container .sample-container .sample-caption, .main-container .service-container .sample-container .sample-caption, .main-container .social-container .sample-container .sample-caption, .main-container .about-container .sample-container .sample-caption, .main-container .sample-container .sample-container .sample-caption {
        opacity: 0;
        text-align: center;
        position: absolute;
        background-color: rgba(0, 182, 241, 0.9);
        cursor: pointer;
        padding-left: 15px; }
        .main-container .work-container .sample-container .sample-caption h5, .main-container .service-container .sample-container .sample-caption h5, .main-container .social-container .sample-container .sample-caption h5, .main-container .about-container .sample-container .sample-caption h5, .main-container .sample-container .sample-container .sample-caption h5 {
          font-size: 1em; }
        @media (max-width: 992px) {
          .main-container .work-container .sample-container .sample-caption, .main-container .service-container .sample-container .sample-caption, .main-container .social-container .sample-container .sample-caption, .main-container .about-container .sample-container .sample-caption, .main-container .sample-container .sample-container .sample-caption {
            top: 80%;
            opacity: 1; }
            .main-container .work-container .sample-container .sample-caption h5, .main-container .service-container .sample-container .sample-caption h5, .main-container .social-container .sample-container .sample-caption h5, .main-container .about-container .sample-container .sample-caption h5, .main-container .sample-container .sample-container .sample-caption h5 {
              font-size: 1.25em; } }
        @media (max-width: 767px) {
          .main-container .work-container .sample-container .sample-caption, .main-container .service-container .sample-container .sample-caption, .main-container .social-container .sample-container .sample-caption, .main-container .about-container .sample-container .sample-caption, .main-container .sample-container .sample-container .sample-caption {
            opacity: 0; } }
        .main-container .work-container .sample-container .sample-caption:hover, .main-container .service-container .sample-container .sample-caption:hover, .main-container .social-container .sample-container .sample-caption:hover, .main-container .about-container .sample-container .sample-caption:hover, .main-container .sample-container .sample-container .sample-caption:hover {
          opacity: 1;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }
          @media (max-width: 992px) {
            .main-container .work-container .sample-container .sample-caption:hover, .main-container .service-container .sample-container .sample-caption:hover, .main-container .social-container .sample-container .sample-caption:hover, .main-container .about-container .sample-container .sample-caption:hover, .main-container .sample-container .sample-container .sample-caption:hover {
              opacity: 1; } }
          @media (max-width: 767px) {
            .main-container .work-container .sample-container .sample-caption:hover, .main-container .service-container .sample-container .sample-caption:hover, .main-container .social-container .sample-container .sample-caption:hover, .main-container .about-container .sample-container .sample-caption:hover, .main-container .sample-container .sample-container .sample-caption:hover {
              opacity: 0; } }
        .main-container .work-container .sample-container .sample-caption h5, .main-container .service-container .sample-container .sample-caption h5, .main-container .social-container .sample-container .sample-caption h5, .main-container .about-container .sample-container .sample-caption h5, .main-container .sample-container .sample-container .sample-caption h5 {
          padding-top: 40%;
          color: #101010;
          width: 90%;
          z-index: 1000; }
          @media (max-width: 1100px) {
            .main-container .work-container .sample-container .sample-caption h5, .main-container .service-container .sample-container .sample-caption h5, .main-container .social-container .sample-container .sample-caption h5, .main-container .about-container .sample-container .sample-caption h5, .main-container .sample-container .sample-container .sample-caption h5 {
              padding-top: 40%; } }
          @media (max-width: 992px) {
            .main-container .work-container .sample-container .sample-caption h5, .main-container .service-container .sample-container .sample-caption h5, .main-container .social-container .sample-container .sample-caption h5, .main-container .about-container .sample-container .sample-caption h5, .main-container .sample-container .sample-container .sample-caption h5 {
              position: relative;
              padding-top: 0px;
              font-size: 14pt; } }
          @media (max-width: 767px) {
            .main-container .work-container .sample-container .sample-caption h5, .main-container .service-container .sample-container .sample-caption h5, .main-container .social-container .sample-container .sample-caption h5, .main-container .about-container .sample-container .sample-caption h5, .main-container .sample-container .sample-container .sample-caption h5 {
              font-size: 20pt;
              padding-top: 10px; } }
          @media (max-width: 600px) {
            .main-container .work-container .sample-container .sample-caption h5, .main-container .service-container .sample-container .sample-caption h5, .main-container .social-container .sample-container .sample-caption h5, .main-container .about-container .sample-container .sample-caption h5, .main-container .sample-container .sample-container .sample-caption h5 {
              font-size: 16pt;
              padding-top: 5px; } }
          @media (max-width: 450px) {
            .main-container .work-container .sample-container .sample-caption h5, .main-container .service-container .sample-container .sample-caption h5, .main-container .social-container .sample-container .sample-caption h5, .main-container .about-container .sample-container .sample-caption h5, .main-container .sample-container .sample-container .sample-caption h5 {
              font-size: 14pt;
              padding-top: 0px; } }
        .main-container .work-container .sample-container .sample-caption h6, .main-container .service-container .sample-container .sample-caption h6, .main-container .social-container .sample-container .sample-caption h6, .main-container .about-container .sample-container .sample-caption h6, .main-container .sample-container .sample-container .sample-caption h6 {
          color: #fdfdfd;
          width: 90%;
          z-index: 1000; }
          @media (max-width: 992px) {
            .main-container .work-container .sample-container .sample-caption h6, .main-container .service-container .sample-container .sample-caption h6, .main-container .social-container .sample-container .sample-caption h6, .main-container .about-container .sample-container .sample-caption h6, .main-container .sample-container .sample-container .sample-caption h6 {
              position: relative;
              padding-top: 0px;
              font-size: 10pt;
              margin-top: -5px; } }
          @media (max-width: 767px) {
            .main-container .work-container .sample-container .sample-caption h6, .main-container .service-container .sample-container .sample-caption h6, .main-container .social-container .sample-container .sample-caption h6, .main-container .about-container .sample-container .sample-caption h6, .main-container .sample-container .sample-container .sample-caption h6 {
              font-size: 16pt; } }
          @media (max-width: 600px) {
            .main-container .work-container .sample-container .sample-caption h6, .main-container .service-container .sample-container .sample-caption h6, .main-container .social-container .sample-container .sample-caption h6, .main-container .about-container .sample-container .sample-caption h6, .main-container .sample-container .sample-container .sample-caption h6 {
              font-size: 12pt; } }
          @media (max-width: 450px) {
            .main-container .work-container .sample-container .sample-caption h6, .main-container .service-container .sample-container .sample-caption h6, .main-container .social-container .sample-container .sample-caption h6, .main-container .about-container .sample-container .sample-caption h6, .main-container .sample-container .sample-container .sample-caption h6 {
              font-size: 9pt; } }
    .main-container .work-container .service-wrapper, .main-container .service-container .service-wrapper, .main-container .social-container .service-wrapper, .main-container .about-container .service-wrapper, .main-container .sample-container .service-wrapper {
      margin-bottom: 75px; }
      .main-container .work-container .service-wrapper .glyphicons, .main-container .service-container .service-wrapper .glyphicons, .main-container .social-container .service-wrapper .glyphicons, .main-container .about-container .service-wrapper .glyphicons, .main-container .sample-container .service-wrapper .glyphicons {
        color: #d468ff;
        font-size: 2.5em;
        margin-bottom: 25px;
        width: 100px;
        height: 75px; }
    .main-container .work-container .social-title, .main-container .service-container .social-title, .main-container .social-container .social-title, .main-container .about-container .social-title, .main-container .sample-container .social-title {
      margin-bottom: 50px; }
    .main-container .work-container a, .main-container .service-container a, .main-container .social-container a, .main-container .about-container a, .main-container .sample-container a {
      color: #101010; }
      .main-container .work-container a .social, .main-container .service-container a .social, .main-container .social-container a .social, .main-container .about-container a .social, .main-container .sample-container a .social {
        font-color: #101010;
        font-size: 2em;
        cursor: pointer;
        padding: 0px 5px; }
        .main-container .work-container a .social:hover, .main-container .service-container a .social:hover, .main-container .social-container a .social:hover, .main-container .about-container a .social:hover, .main-container .sample-container a .social:hover {
          color: #d468ff;
          -webkit-transition: color 0.2s ease-in;
          -moz-transition: color 0.2s ease-in;
          -o-transition: color 0.2s ease-in;
          transition: color color 0.2s ease-in; }
  @media (max-width: 767px) {
    .main-container .work-container {
      width: 80%;
      margin-left: 10%; } }

.main-container .about-container {
  width: 100%;
  background-color: #fdfdfd;
  font-size: 16pt; }
  @media (max-width: 767) {
    .main-container .about-container {
      width: 80%;
      margin-left: 10%; } }
  .main-container .about-container .about-hero {
    width: 100%;
    color: #101010;
    font-size: 16px;
    font-family: Aller-Bold;
    margin: 0px auto;
    text-align: center;
    font-weight: 600; }
    .main-container .about-container .about-hero img {
      width: 100%;
      margin-bottom: 50px; }
      @media (min-width: 1500px) {
        .main-container .about-container .about-hero img {
          margin-top: 50px;
          width: 70%; } }
      @media (max-width: 767px) {
        .main-container .about-container .about-hero img {
          width: 75%; } }
  .main-container .about-container .about-title {
    margin-top: 50px;
    margin-bottom: 50px; }
    @media (max-width: 767px) {
      .main-container .about-container .about-title {
        width: 25%;
        margin: 0px auto; } }
  .main-container .about-container p {
    margin: 20px 0px;
    font-family: Aller-regular;
    font-size: 0.9em;
    text-align: center; }
    @media (max-width: 767px) {
      .main-container .about-container p {
        font-size: 0.65em; } }
  .main-container .about-container .define {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #00b6f1;
    border-bottom: 1px solid #00b6f1;
    margin-bottom: 50px; }
    .main-container .about-container .define .off-piste {
      font-family: Aller-Display;
      font-size: 1.15em;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: underline; }
    .main-container .about-container .define .off-piste-sub {
      font-style: italic;
      font-family: Aller-Light;
      font-size: 1em;
      font-weight: 600; }
    .main-container .about-container .define .definition {
      font-size: 0.75em;
      font-family: Aller-regular;
      font-weight: 600; }
  .main-container .about-container span {
    font-family: Aller-Display;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left; }

.main-container .sample-container {
  font-size: 16pt; }
  @media (max-width: 767px) {
    .main-container .sample-container {
      width: 95%;
      text-align: center;
      margin: 0px auto;
      font-size: 12pt; } }
  .main-container .sample-container h1 {
    margin-bottom: 50px; }
.main-container .sample-content {
  font-size: 0.8em;
  font-family: Aller-light;
  font-weight: 600; }
  .main-container .sample-content p {
    margin-bottom: 25px; }
.main-container .sample-subtitle {
  margin-top: -75px;
  margin-bottom: 10px; }
  @media (max-width: 992px) {
    .main-container .sample-subtitle {
      margin-top: -60px; } }
  @media (max-width: 767px) {
    .main-container .sample-subtitle {
      margin-top: -30px; } }
  .main-container .sample-subtitle h6 {
    font-family: Aller-Regular;
    font-weight: 100;
    font-size: 0.8em; }
.main-container .sample-controls {
  margin-top: -25px;
  font-size: 1.75em;
  display: inline; }
  .main-container .sample-controls a {
    padding: 10px; }
    .main-container .sample-controls a:hover {
      color: #d468ff;
      text-decoration: none;
      cursor: pointer;
      -webkit-transition: color 0.2s ease-in;
      -moz-transition: color 0.2s ease-in;
      -o-transition: color 0.2s ease-in;
      transition: color color 0.2s ease-in; }
.main-container .carousel-title {
  font-weight: 600;
  font-family: Aller-Regular;
  margin: 50px 0px -25px 0px;
  color: #101010;
  text-transform: uppercase; }
.main-container .carousel {
  margin: 0px auto;
  width: 50%;
  margin-top: 50px;
  cursor: pointer; }
  @media (max-width: 992px) {
    .main-container .carousel {
      width: 70%; } }
  @media (max-width: 767px) {
    .main-container .carousel {
      width: 100%; } }
  .main-container .carousel .carousel-control {
    font-size: 2em;
    color: #d468ff;
    background-color: transparent;
    opacity: 1; }
    @media (max-width: 992px) {
      .main-container .carousel .carousel-control {
        font-size: 1.75em; } }
    @media (max-width: 767px) {
      .main-container .carousel .carousel-control {
        font-size: 1.75em; } }
    .main-container .carousel .carousel-control span {
      margin-top: 250%; }
  .main-container .carousel .carousel-indicators {
    bottom: 2px; }
  .main-container .carousel .carousel-caption {
    font-family: Aller-regular;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #101010; }
  @media (max-width: 992px) {
    .main-container .carousel {
      bottom: 5%; } }
  @media (max-width: 767px) {
    .main-container .carousel {
      bottom: 3%; } }
.main-container .view-btn {
  font-size: 1.25em;
  font-family: Aller-light;
  margin-top: 50px; }
  .main-container .view-btn a {
    text-decoration: none;
    color: #00b6f1;
    padding: 15px 20px;
    padding: 15px 20px;
    border: 1px solid #00b6f1; }
    .main-container .view-btn a:hover {
      color: #fdfdfd;
      background-color: #d468ff;
      border: 1px solid #d468ff;
      -webkit-transition: color 0.2s ease-in;
      -moz-transition: color 0.2s ease-in;
      -o-transition: color 0.2s ease-in;
      transition: color color 0.2s ease-in;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; }
.main-container .modal {
  opactiy: 0.9;
  text-align: center; }
  .main-container .modal .modal-dialog {
    width: 80%;
    margin: 0px auto;
    margin-top: 5%; }
    @media (min-width: 1500px) {
      .main-container .modal .modal-dialog {
        width: 60%; } }
    @media (max-width: 992px) {
      .main-container .modal .modal-dialog {
        width: 85%;
        margin-top: 15%; } }
    @media (max-width: 767px) {
      .main-container .modal .modal-dialog {
        width: 90%;
        margin-top: 25%; } }
    .main-container .modal .modal-dialog .modal-content {
      background-color: #fdfdfd; }
      .main-container .modal .modal-dialog .modal-content .modal-header h4 {
        font-family: Aller-Display;
        font-size: 1.25em;
        font-weight: 600; }
        @media (max-width: 992px) {
          .main-container .modal .modal-dialog .modal-content .modal-header h4 {
            font-size: 1.15em; } }
        @media (max-width: 767px) {
          .main-container .modal .modal-dialog .modal-content .modal-header h4 {
            font-size: 0.9em; } }
      .main-container .modal .modal-dialog .modal-content .modal-header button {
        color: #d468ff;
        opacity: 1;
        font-size: 1.25em; }
      .main-container .modal .modal-dialog .modal-content img {
        width: 100%; }

footer {
  margin-top: 50px;
  margin-bottom: -15px;
  width: 100%;
  font-size: 0.9em; }
  footer .footer-container {
    text-align: center;
    background-color: #00b6f1; }
    @media (max-width: 1100px) {
      footer .footer-container {
        font-size: 0.8em; } }
    @media (max-width: 992px) {
      footer .footer-container {
        font-size: 0.75em; } }
    @media (max-width: 767px) {
      footer .footer-container {
        font-size: 0.7em; } }
    footer .footer-container h6 {
      line-height: 50px;
      margin: 0px; }

/*# sourceMappingURL=main.css.map */
