@charset "UTF-8";
/* helper classes */
@font-face {
  font-family: "Aller-Display";
  src: url("../fonts/Aller/AllerDisplay.eot") format("eot"), url("../fonts/Aller/AllerDisplay.woff") format("woff"), url("../fonts/Aller/AllerDisplay.ttf") format("truetype"); }
@font-face {
  font-family: "Aller-Light";
  src: url("../fonts/Aller/Aller_Lt.eot") format("eot"), url("../fonts/Aller/Aller_Lt.woff") format("woff"), url("../fonts/Aller/Aller_Lt.ttf") format("truetype"); }
@font-face {
  font-family: "Aller-Regular";
  src: url("../fonts/Aller/Aller_Rg.eot") format("eot"), url("../fonts/Aller/Aller_Rg.woff") format("woff"), url("../fonts/Aller/Aller_Rg.ttf") format("truetype"); }
@font-face {
  font-family: "Aller-Bold";
  src: url("../fonts/Aller/Aller_Bd.eot") format("eot"), url("../fonts/Aller/Aller_Bd.woff") format("woff"), url("../fonts/Aller/Aller_Bd.ttf") format("truetype"); }
@font-face {
  font-family: "Glyphicons-Regular";
  src: url("../fonts/Glyphicons/GLYPHICONS-Regular.eot") format("eot"), url("../fonts/Glyphicons/GLYPHICONS-Regular.woff") format("woff"), url("../fonts/Glyphicons/GLYPHICONS-Regular.tff") format("truetype"); }
@font-face {
  font-family: "Glyphicons-Social";
  src: url("../fonts/Glyphicons/GLYPHICONS-Social-Regular.eot") format("woff"), url("../fonts/Glyphicons/GLYPHICONS-Social-Regular.woff") format("woff"), url("../fonts/Glyphicons/GLYPHICONS-Social-Regular.tff") format("truetype"); }
html, body, ul, ol, li {
  margin: 0;
  padding: 0; }

body {
  background-color: #FDFDFD;
  font-size: 16pt; }

ul, li {
  list-style: none;
  display: inline; }

a {
  text-decoration: none; }
  a:hover, a:visited {
    text-decoration: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-sizing: border-box;
  box-sizing: border-box; }

.glyphicons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons-Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased; }

.social {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons-Social";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased; }

.glyphicons-pencil:before {
  content: "✏"; }

.glyphicons-embed-close:before {
  content: ""; }

.glyphicons-cogwheels:before {
  content: ""; }

.glyphicons-fire:before {
  content: ""; }

.social-facebook:before {
  content: ""; }

.social-linked-in:before {
  content: ""; }

.social-twitter:before {
  content: ""; }

.social-github:before {
  content: ""; }

.hide {
  display: none; }

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

h1 {
  font-family: Aller-Display;
  font-weight: 600;
  font-size: 2.5em;
  text-transform: uppercase; }

h2 {
  font-family: Aller-Bold;
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase; }

h3 {
  font-family: Aller-regular;
  font-weight: 600;
  font-size: 1.75em;
  text-transform: uppercase; }

h4 {
  font-family: Aller-Light;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase; }

h5 {
  font-family: Aller-Bold;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase; }

h6 {
  font-family: Aller-Regular;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase; }

nav {
  font-family: Aller-Display;
  font-size: 10pt;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #00B6F1;
  text-transform: uppercase; }
  nav h5, nav li, nav a {
    color: #101010;
    margin: 0px 10px;
    font-size: 1em;
    line-height: 100px; }
  nav img {
    width: 100px;
    margin: 15px auto; }
  nav a {
    text-decoration: none;
    cursor: pointer; }
    nav a:hover {
      text-decoration: none; }
  nav span {
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -mz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    padding-top: 5px; }
    nav span:hover {
      text-decoration: none;
      color: #D468FF; }
  nav .active {
    border-top: 2px solid #D468FF; }

.home-container {
  width: 100%;
  background-color: #FDFDFD; }
  .home-container .hero-container {
    width: 100%;
    position: relative;
    font-size: 16pt; }
    .home-container .hero-container img {
      width: 100%; }
      @media (max-width: 600px) {
        .home-container .hero-container img {
          height: 250px; } }
    .home-container .hero-container .hero-curtain {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      background-color: rgba(0, 182, 241, 0.65); }
    .home-container .hero-container .hero-content {
      position: absolute;
      font-family: Aller-Display;
      font-weight: 600;
      font-size: 3em;
      top: 20%; }
    .home-container .hero-container .rotating-sentence {
      text-align: left;
      text-transform: uppercase;
      padding-left: 30px;
      line-height: 70px; }
      .home-container .hero-container .rotating-sentence .rotating-words {
        display: inline; }
      .home-container .hero-container .rotating-sentence .rotating-word {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        color: #101010;
        transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out; }
      .home-container .hero-container .rotating-sentence .active-word {
        opacity: 1;
        position: absolute;
        font-family: Aller-Display;
        font-weight: 600;
        transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out; }
  .home-container .work-container, .home-container .service-container, .home-container .social-container {
    width: 100%;
    margin: 50px 0px;
    text-align: center; }
    .home-container .work-container .work-title, .home-container .work-container .service-title, .home-container .work-container .social-title, .home-container .service-container .work-title, .home-container .service-container .service-title, .home-container .service-container .social-title, .home-container .social-container .work-title, .home-container .social-container .service-title, .home-container .social-container .social-title {
      border-bottom: 1px solid #00B6F1;
      text-align: center;
      margin-bottom: 100px; }
    .home-container .work-container .sample-container, .home-container .service-container .sample-container, .home-container .social-container .sample-container {
      position: relative;
      text-align: center;
      margin: 0px auto;
      margin-bottom: 100px; }
      .home-container .work-container .sample-container .col-lg-4, .home-container .work-container .sample-container .col-md-4, .home-container .work-container .sample-container .col-sm-4, .home-container .service-container .sample-container .col-lg-4, .home-container .service-container .sample-container .col-md-4, .home-container .service-container .sample-container .col-sm-4, .home-container .social-container .sample-container .col-lg-4, .home-container .social-container .sample-container .col-md-4, .home-container .social-container .sample-container .col-sm-4 {
        padding-left: 0px;
        padding-right: 0px; }
      .home-container .work-container .sample-container img, .home-container .service-container .sample-container img, .home-container .social-container .sample-container img {
        width: 100%;
        border: 1px solid #00B6F1; }
      .home-container .work-container .sample-container .sample-caption, .home-container .service-container .sample-container .sample-caption, .home-container .social-container .sample-container .sample-caption {
        opacity: 0;
        text-align: center;
        position: absolute;
        background-color: rgba(0, 182, 241, 0.9);
        cursor: pointer;
        padding-left: 15px; }
        .home-container .work-container .sample-container .sample-caption:hover, .home-container .service-container .sample-container .sample-caption:hover, .home-container .social-container .sample-container .sample-caption:hover {
          opacity: 1;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }
        .home-container .work-container .sample-container .sample-caption h5, .home-container .service-container .sample-container .sample-caption h5, .home-container .social-container .sample-container .sample-caption h5 {
          padding-top: 45%;
          color: #101010;
          width: 90%; }
        .home-container .work-container .sample-container .sample-caption h6, .home-container .service-container .sample-container .sample-caption h6, .home-container .social-container .sample-container .sample-caption h6 {
          color: #FDFDFD;
          width: 90%; }
    .home-container .work-container .service-wrapper, .home-container .service-container .service-wrapper, .home-container .social-container .service-wrapper {
      margin-bottom: 100px; }
      .home-container .work-container .service-wrapper .glyphicons, .home-container .service-container .service-wrapper .glyphicons, .home-container .social-container .service-wrapper .glyphicons {
        color: #D468FF;
        font-size: 2.5em;
        margin-bottom: 25px; }
    .home-container .work-container .social-title, .home-container .service-container .social-title, .home-container .social-container .social-title {
      margin-bottom: 50px; }
    .home-container .work-container a, .home-container .service-container a, .home-container .social-container a {
      color: #101010; }
      .home-container .work-container a .social, .home-container .service-container a .social, .home-container .social-container a .social {
        font-color: #101010;
        font-size: 2.5em;
        cursor: pointer;
        padding: 0px 5px; }
        .home-container .work-container a .social:hover, .home-container .service-container a .social:hover, .home-container .social-container a .social:hover {
          color: #D468FF;
          -webkit-transition: color 0.2s ease-in;
          -moz-transition: color 0.2s ease-in;
          -o-transition: color 0.2s ease-in;
          transition: color color 0.2s ease-in; }

footer {
  margin-top: 50px;
  margin-bottom: -15px;
  width: 100%; }
  footer .footer-container {
    text-align: center;
    background-color: #00B6F1; }
    footer .footer-container h6 {
      line-height: 50px;
      margin: 0px; }

/*# sourceMappingURL=main.css.map */
